* { padding: 0; margin: 0; box-sizing: border-box; }

html { font-size: 10px; }

@keyframes arrow { 0% { transform: translateY(-80px); }
  50% { transform: translateY(0px); }
  100% { transform: translateY(80px); } }
button { background-color: inherit; border: 2px solid #cf1e25; padding: 1rem; color: #FFFFFF; margin: 1rem; display: block; font-family: "Gruppo", cursive; letter-spacing: .4rem; text-align: center; }

button.btn_buy { width: 12rem; height: 4rem; position: relative; z-index: 1; font-size: 1.6rem; font-weight: 600; margin-top: 7.5%; margin-left: 12.5%; text-align: center; }
button.btn_buy::before { content: ""; position: absolute; top: 0; left: 0; background-color: #cf1e25; opacity: .8; display: block; width: inherit; height: inherit; z-index: -1; transform: translate(3px, 3px); transition: .8s ease; }
button.btn_buy:hover { /* should be only for desktop */ cursor: pointer; }
button.btn_buy:hover::before { transform: translate(-3px, -3px); }

#arrow { color: #fefefe; width: 40px; height: 40px; border: 2px solid #fefefe; position: absolute; bottom: 2.8%; left: 12.5%; border-radius: 50%; font-size: 3rem; text-align: center; text-shadow: 0px -15px 0 #fefefe, 0px -30px 0 #fefefe; overflow: hidden; transition: .8s ease; }
#arrow:hover { border-color: #cf1e25; background-color: #cf1e25; opacity: .8; /* should be only for desktop */ cursor: pointer; }
#arrow .fa-angle-down { animation: arrow 1.4s infinite linear; }

@media (orientation: landscape) { button.btn_buy { margin-top: 3.8%; margin-left: 75%; }
  #arrow { bottom: 11.2%; left: 5.5%; } }
header { font-family: "Gruppo", cursive; font-weight: lighter; background-color: #434f34; color: #fefefe; height: 100vh; width: 100%; }

div.header_top { height: 8%; width: 100%; background-color: #fefefe; padding: 1% 2.8%; position: relative; }
div.header_top #logo { height: 100%; width: auto; }
div.header_top contact { color: #121111; font-size: 1.4rem; font-weight: 600; display: block; position: absolute; top: 50%; right: 2.8%; transform: translateY(-50%); }

div.header_img { background-image: url(../img/header_book_cover.jpg); background-repeat: no-repeat; background-size: cover; background-position: 31%; height: 92%; position: relative; padding: 3.2%; }
div.header_img h1 { font-size: 3rem; width: 75%; margin-left: auto; margin-right: auto; text-align: center; }
div.header_img h1::before, div.header_img h1::after { content: ''; display: block; border-top: 2px solid rgba(255, 255, 255, 0.44); margin-top: 2.8%; margin-bottom: 2.8%; }
div.header_img h1 span::after { content: '\A'; white-space: pre; }
div.header_img h2 { font-size: 1.4rem; width: 70%; margin-left: auto; margin-right: auto; padding-top: 2.6%; padding-bottom: 2.6%; text-align: center; }
div.header_img h2:first-child { font-size: 1.8rem; }

@media (orientation: landscape) { div.header_top { height: 12%; width: 100%; background-color: #fefefe; padding: 1% 2.8%; position: relative; }
  div.header_top contact { font-size: 1.8rem; }
  div.header_img { background-position: 2%; padding: 1.8%; }
  div.header_img h1 { width: 30%; margin-left: 2.8%; }
  div.header_img h2 { width: 30%; margin-left: 2.8%; padding-top: 1%; padding-bottom: 1%; } }

/*# sourceMappingURL=main.css.map */
