article {
    font-family: $header_font;
    display: flex;
    flex-direction: column;
}

article.desktop_only_pict, article.desktop_only_book_options, img.desktop_only_patron {
        display: none;
}

article#o_ksiazce {
    min-height: 100vh;
    background-color: #fefefe;
    position: relative;
    margin-top: 100vh;
    z-index: 2;
    padding: 4%;
    
    h3.title_about_book {
        background-color: $about_title_bckg;
        height: 10%;
        width: 100%;
        text-align: center;
        color: #fefefe;
        font-size: 2.8rem;
        letter-spacing: .4rem;
        padding: 4%;
    }
    
    section {
        padding: 2%;
        font-size: 1.8rem;
        line-height: 2rem;
        
        div {
            margin: {
                top: 2%;
            }
        }
    }
    
    section.about_gasa {
        font-size: 1.6rem;
        div#introduction {
            font-weight: 600;
            color: $about_title_bckg;
        }
    }
    
    aside {
        padding: 2%;
        font-size: 1.4rem;
        line-height: 2rem;
        height: 20rem;
        width: 100%;
        position: relative;
        margin: {
            top: 4%;
            bottom: 6%;
        }
  
        h4 {
            background-color: $about_title_bckg;
            text-align: center;
            color: #fefefe;
            font-size: 2rem;
            letter-spacing: .4rem;
            padding-top: 2%;
            position: absolute;
            top: 0;
            right: 0;
            width: 97%;
            height: 97%;
            z-index: -1;
        }
        
        ul {
            border: 2px solid $about_title_bckg;
            background-color: #fefefe;
            color: $about_title_bckg;
            font-weight: 600;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 97%;
            z-index: 1;
             
            li {
                list-style: none;
                margin-left: 2%;
            }
            
        } 
    }
}

article#opcje_zakupu {
    @extend article#o_ksiazce;
    background-color: $rosy_color;
    color: #fefefe;
    margin-top: 0;
    
    h3.title_option {
        @extend h3.title_about_book;
        background-color: inherit;  
    }
    
    section {
        border: 2px solid #fefefe;
        margin: {
            top: 6%;
            bottom: 4%;
        }
        padding: 3%;
        position: relative;
        
        div {
            margin-top: 4%;
        }
        
        div.options_num {
            border: 2px solid #fefefe;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            text-align: center;
            font-size: 3rem;
            font-weight: 600;
            padding: 2%;
            background-color: $rosy_color;
            position: absolute;
            top: -25px;
            leftt: 2%;
            z-index: 1;
        }
        
        h4 {
            text-align: center;
            padding: 2%;
            margin-top: 4%;
            font-size: 2rem;
            
        }
        
        span.important_txt {
            font-weight: 600;
            background-color: $btn_bckg;
            padding: .8%;
        }
        
        span.up {
            font-size: 1.2rem;
        }
        
        a:hover {
            background-color: $btn_bckg;
        }
    }
}

article#o_autorce {
    @extend article#o_ksiazce;
    background-color: #fefefe;
    font-size: 1.8rem;
    margin-top: 0;
    
    h3 {
        @extend h3.title_about_book;
        background-color: inherit;  
        color: $about_title_bckg;
    }
    
    img.author_pict {
        display: block;
        width: 100%;
        height: auto;
        margin: {
            left: auto;
            right: auto;
        }
    }
    
    h4 {
        margin: {
            left: auto;
            right: auto;
            top: 4%;
            bottom: 4%;
        }
        font-size: 3rem;
        
        &::after {
            content: '';
            display: block;
            border-top: 2px solid $about_title_bckg;
            margin: {
                top: 2.8%;
            }
        }
    }
    
    div {
        margin-bottom: 4%;
        padding: 2%;
    }
}

article#opcja_ksiazka_autograf {
    @extend article#o_ksiazce;
    min-height: auto;
    margin-top: 0;
    
    h3 {
        @extend h3.title_about_book;
        background-color: $rosy_color;
        color: #fefefe;
        font-size: 2rem;
    }
    
    h4 {
        text-align: center;
        color: $btn_bckg;
        margin: {
            top: 4%;
            bottom: 6%;
        }
    }
    
    section {
        border: 2px solid $rosy_color;
        padding: 2%;
        
        div {
            padding: 2%;
        }
    }
}

article#patroni {
    @extend article#o_ksiazce;
    min-height: 50vh;
    position: relative;
    color: black;
    margin-top: 0;
    
    h3 {
        @extend h3.title_about_book;
    }
    
    ul {
		position: absolute;
		top: 25%;
		width: 80%;
		height: 20rem;
        left: 50%;
        
        li {
            
            img {
                width: auto;
                max-width: 100%;
                height: auto;
                max-height: 10rem;
            }
            
            width: 100%;
            list-style-type: none;
            position: absolute;
            top: 0;
            padding: 2%;
            height: 20rem; 
            opacity: 0;
            text-align: center;
            font-size: 1.8rem;
            transform: translateX(-50%);
            transition: 1s opacity; 
            margin: 2%;   
        }
        
        .active {
            opacity: 1;
        }
	}
}

article#recenzje {
    @extend article#o_ksiazce;
    background-color: $dark_olive;
    margin-top: 0;
    
    h3 {
        @extend h3.title_about_book;
        background-color: $dark_olive;
    }
    
    section.review {
        background-color: #fefefe;
        
        div.review_about {
            display: flex;
            flex-wrap: wrap;
            color: $dark_olive;
            
            img {
                width: 8rem;
                height: 8rem;
                border-radius: 50%;
                margin: 2%;
                align-self: flex-start;
                box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.65);
            }
            
            h4 {
                text-align: center;
                padding: 2%;
                margin: {
                    top: 6%;
                    left: 4%;
                }
                flex-basis: 60%;
                font-size: 2rem;
            }
            
            h5 {
                flex-basis: 90%;
                font-size: 1.6rem;
                margin: {
                    left: auto;
                    right: auto;
                }
                
            }
        }
        
        div.review_txt {
            padding: 2%;
            font-size: 2rem;
        }
        
        &::after {
            content: '';
            display: block;
            border-top: 2px solid $dark_olive;
            margin: {
                top: 2.8%;
                bottom: 2.8%;
            }
        }
    }
}

/* ------------ media queries ---------- */

@media (orientation: landscape) {
    article#opcje_zakupu {
        section {
            font-size: 2.4rem;
            line-height: 2.4rem;
            div.options_num {
                height: 60px;
                width: 60px;
                font-size: 5rem;
                position: absolute;
                top: -50px;
            }
            h4 {
                margin-top: 2%;
                font-size: 2.6rem;
            }
            span.important_txt {
                font-size: inherit;
                padding: .2%;
            }
        }
    }
    
    article#patroni {
        min-height: 100vh;
        ul {
            top: 30%;
        }
    }
    
    article#recenzje {
        section.review {
            div.review_about {          
                img {
                    width: 10rem;
                    height: 10rem;
                    margin-left: 5%;
                }
                h4 {
                    margin: {
                        top: 2%;
                        left: 4%;
                        bottom: 2%;
                    }     
                }
                h5 {
                    flex-basis: 60%;
                    margin: {
                        left: 30%;
                        top: -10%;
                    }
                }
            }
        }
    }
} 

@media (min-width: 530px) {}

@media (min-width: 768px) {
    main {
        min-height: 420rem;
        width: 100%;
        background-color: #fefefe;
        margin-top: 100vh;
        position: relative;
        z-index: 2;
    
        article.desktop_only_pict {
            display: block;
            position: absolute;
            top: 8rem;
            left: 2.8%;
            width: 52%;
            
            img {
                width: 100%;
                height: auto;
            }
        } 
    }
    
    article#o_ksiazce {
        margin-top: 0;
        position: absolute;
        top: 0;
        right: 0;
        width: 48%;
        height: auto;

        section {
            padding: 1%;
            font-size: 2rem;
            
        }

        section.about_gasa {
            font-size: 1.8rem;
        }  
    }
    
    article#opcje_zakupu {
        position: absolute;
        top: 38rem;
        left: 3%;
        width: 48%;
        height: 136rem;
        padding: 1%;
        
        h3.title_option {
            font-size: 2rem;
            padding: 1%;
        }
    
        section {
            font-size: 1.6rem;
            margin-top: 2.2%;
            
            div {
                margin-top: 4%;
                padding-left: 2%;
            }
            
            div.options_num {
                height: 40px;
                width: 40px;
                font-size: 2rem;
                padding: 1%;    
                top: -30px;
                left: 5%;
            }
            h4 {
                font-size: 2rem;
                padding-top: 3%;
            }

            a:hover {
                background-color: $btn_bckg;
            }
        }
    }
    
    article.desktop_only_book_options {
        display: block;
        position: absolute;
        right: 5%;
        top: 108rem;
        width: 45%;
        height: 50rem;
        border: 2px solid $rosy_color;
        
        ul {
            position: absolute;
            top: 3rem;
            width: 80%;
            height: inherit;
            right: 5%;
            li {
                img {   
                    width: auto;
                    max-width: 100%;
                    height: auto;
                }
                list-style-type: none;
                position: absolute;
                top: 0;
                opacity: 0;
                text-align: center;
                font-size: 1.8rem;
                transition: 1s opacity; 
                margin: 2%;   
                p {
                    padding-top: 2%;
                }
            }
            .active {
                opacity: 1;
            }
        }
        
    }

    article#o_autorce {
        position: absolute;
        top: 178rem;
        left: 5%;
        width: 90%;
        
        h3 {
            width: 40%;
            position: absolute;
            top: 4rem;
            left: 3rem;
        }

        img.author_pict {
            display: block;
            width: 65%;
            height: auto;
            margin: {
                left: auto;
                right: 2%;
                bottom: 3%;
            }
        }

        h4 {
            font-size: 2.6rem;
            position: absolute;
            top: 8rem;
            left: 4rem;
           
        }

        div {
            margin-bottom: 1%;
            padding: 1%;
            
        }
    }

    article#opcja_ksiazka_autograf {
        position: absolute;
        top: 224rem;
        left: 2%;
        width: 90%;
        margin: {
            left: auto;
            right: auto;
            top: 5%;
        }
        padding-top: 1%;

        h4 {
            font-size: 2.4rem;
            margin-bottom: 4%;
        }

        section {
            border: 2px solid $rosy_color;
            padding: 2%;

            div {
                padding: 0;
            }
            
            a:hover {
                background-color: $btn_bckg;
                color: #fefefe;
            }
            
            button.btn_option {
                font-size: 1.6rem;
                height: 4rem;
            }
        }
    }

    article#patroni {
        position: absolute;
            top: 278rem;
            left: 10%;
        width: 80%;
        div.mobile_only {
            display: none;
        }
        
        img.desktop_only_patron {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    article#recenzje {
        width: 100%;
        position: absolute;
        top: 294rem;
        left: 0;
        
        section {
            
            position: relative;
            
            div.review_about {
            
                img {
                    width: 10rem;
                    height: 10rem;
                }

                h4 {
                    position: absolute;
                    top: 0;
                    left: 16%;
                }

                h5 {

                }
            }
        
            div.review_txt {
                padding: 2%;
                font-size: 2rem;
            }
        }
    }    
}


@media (min-width: 768px) and (orientation: portrait) {
    article#o_ksiazce {
        h3.title_about_book {
            font-size: 3rem;
        }
        section {
            font-size: 2.8rem;
            line-height: 2.8rem;
        }
        section.about_gasa {
            font-size: 2.2rem;
        }
        aside {
            font-size: 2rem;
            height: 28rem;
            width: 100%;
            h4 {
                font-size: 2.4rem;
            }
            ul {
                padding: {
                    top: 2%;
                    bottom: 2%;
                }
                li {
                    margin-left: 6%;
                    padding: .4%;
                }
            } 
        }
    }
    
    article#opcje_zakupu {
        section {
            font-size: 2.8rem;
            line-height: 2.9rem;
            div.options_num {
                height: 60px;
                width: 60px;
                font-size: 5rem;
                position: absolute;
                top: -50px;
            }
            h4 {
                margin-top: 2%;
                font-size: 3rem;
            }
            span.important_txt {
                font-size: inherit;
                padding: .2%;
            }
        }
    }
    
    article#o_autorce {
        font-size: 2.4rem;
        line-height: 2.6rem;
        h4 {
            font-size: 3.6rem;
        }
        div {
            margin-bottom: 2%;
        }
    }
    
    article#patroni {
        min-height: 30vh;
        ul {
            top: 36%;
        }
    }
    
    article#recenzje {
        section.review {
            div.review_about {          
                img {
                    width: 14rem;
                    height: 14rem;
                    margin-left: 5%;
                }
                h4 {
                    margin: {
                        top: 2%;
                        left: 4%;
                        bottom: 2%;
                    }     
                }
                h5 {
                    flex-basis: 60%;
                    margin: {
                        left: 32%;
                        top: -10%;
                    }
                }
            }
        }
    }

}

@media (min-width: 1024px) {
    
    main {
        min-height: 700vh;
        width: 100%;
        background-color: #fefefe;
        margin-top: 100vh;
        position: relative;
        z-index: 2;
    
        article.desktop_only_pict {
            display: block;
            position: absolute;
            top: 12rem;
            left: 2.8%;
            width: 52%;
            
            img {
                width: 100%;
                height: auto;
            }
        } 
    }
    
    article#o_ksiazce {
        margin-top: 0;
        position: absolute;
        top: 0;
        right: 0;
        width: 48%;
        height: auto;

        section {
            padding: 1%;
            font-size: 2rem;
            
        }

        section.about_gasa {
            font-size: 1.8rem;
        }  
    }
    
    article#opcje_zakupu {
        position: absolute;
        top: 14%;
        left: 3%;
        width: 48%;
        height: 150vh;
        padding: 1%;
        
        h3.title_option {
                font-size: 2rem;
                padding: 1%;
            }
    
        section {
            font-size: 1.6rem;
            margin-top: 2.2%;
            
            div {
                margin-top: 2%;
                padding-left: 2%;
            }
            
            div.options_num {
                height: 40px;
                width: 40px;
                font-size: 2rem;
                padding: 1%;    
                top: -30px;
                left: 5%;
            }
            h4 {
                font-size: 2rem;
                padding: 1%;
            }

            a:hover {
                background-color: $btn_bckg;
            }
        }
    }
    
    article.desktop_only_book_options {
        display: block;
        position: absolute;
        right: 5%;
        top: 26%;
        width: 45%;
        height: 60rem;
        border: 2px solid $rosy_color;
        
        ul {
            position: absolute;
            top: 3%;
            width: 80%;
            height: 60rem;
            right: 5%;
            li {
                img {
                    
                    width: auto;
                    max-width: 100%;
                    height: auto;
                }
                list-style-type: none;
                position: absolute;
                top: 0;
                padding: 2%;
                opacity: 0;
                text-align: center;
                font-size: 1.8rem;
                transition: 1s opacity; 
                margin: 2%;   
            }
            .active {
                opacity: 1;
            }
        }
        
    }

    article#o_autorce {
        position: absolute;
        top: 44%;
        left: 2%;
        width: 90%;
        margin: {
            left: auto;
            right: auto;
        }
        h3 {
            width: 30%;
            position: absolute;
            top: 5%;
            left: 6%;
        }

        img.author_pict {
            display: block;
            width: 65%;
            height: auto;
            margin: {
                left: auto;
                right: 2%;
                bottom: 3%;
            }
        }

        h4 {
            font-size: 3rem;
            position: absolute;
            top: 15%;
            left: 6%;
           
        }

        div {
            margin-bottom: 1%;
            padding: 1%;
            
        }
    }

    article#opcja_ksiazka_autograf {
        position: absolute;
        top: 58%;
        left: 2%;
        width: 90%;
        margin: {
            left: auto;
            right: auto;
            top: 5%;
        }
        padding-top: 1%;

        h4 {
            font-size: 3rem;
            margin-bottom: 4%;
        }

        section {
            border: 2px solid $rosy_color;
            padding: 2%;

            div {
                padding: 0;
            }
            
            a:hover {
                background-color: $btn_bckg;
                color: #fefefe;
            }
            
            button.btn_option {
                font-size: 2rem;
                height: 4rem;
            }
        }
    }

    article#patroni {
        min-height: 50vh;
        position: absolute;
        top: 72%;
        left: 2%;
        width: 90%;
        margin: {
            left: auto;
            right: auto;
            top: 5%;
        }
        padding-top: 1%;

        h3 {
            width: 20%;
            height: 10rem;
            display: inline-block;
            font-size: 2rem;
            padding: {
                top: auto;
                bottom: auto;
                left: 2%;
            }
            margin-top: 2%;
        }

        ul {
            position: absolute;
            top: 0%;
            width: 80%;
            height: 10rem;
            left: 29%;

            li {

                img {
                    max-height: 8rem;
                }

                width: 20%;
                height: 10rem;
                display: inline-block;
                position: relative;
                padding-top: 0;
                opacity: 1;   
            }
        }
    }

    article#recenzje {
        width: 100%;
        position: absolute;
        top: 78%;
        left: 0;
        
        section {
            
            position: relative;
            
            div.review_about {
            
                img {
                    width: 10rem;
                    height: 10rem;
                }

                h4 {
                    position: absolute;
                    top: 0;
                    left: 16%;
                }

                h5 {

                }
            }
        
            div.review_txt {
                padding: 2%;
                font-size: 2rem;
            }
        }
        
}
}


@media (min-width: 1024px) and (orientation: portrait) {
    //tutaj
}

@media (min-width: 1280px) {}

@media (min-width: 1600px) {}