main {
    min-height: 100vh;
    width: 100%;
    padding: .5rem;
    background-color: #fefefe;
    position: relative;
    z-index: 2;
    
    margin-top: 100vh;
    /* work well on Firefox and Chrome */
    /* IE, Safari, iOS cannot do viewport */
}

article {
    font-family: $header_font;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.desktop_only_pict,
.desktop_only_book_options,
.desktop_only_patron {
    display: none;
}

.article_o_ksiazce {
    min-height: 100vh;
    width: 100%;
    background-color: #fefefe;
    position: relative;
    margin-top: 0; 
    padding: .25rem;

    .title_about_book {
        background-color: $about_title_bckg;
        height: 5rem;
        width: 100%;
        text-align: center;
        color: #fefefe;
        font-size: 2.8rem;
        letter-spacing: .4rem;
        padding: 1rem;
        margin: {
            top: 1rem;
            bottom: 2rem;
        }
    }

    section {
        padding: 1rem;
        font-size: 1.8rem;
        line-height: 2rem;

        div {
            margin: {
                top: 1rem;
                bottom: 1.5rem;
            }
        }
    }

    .about_gasa {
        font-size: 1.6rem;
        
        .introduction {
            font-weight: 600;
            color: $about_title_bckg;
        }
    }

    aside {
        padding: 1rem;
        font-size: 1.4rem;
        line-height: 2rem;
        height: 20rem;
        width: 100%;
        position: relative;
        margin: {
            top: 1rem;
            bottom: 2rem;
        }

        h4 {
            background-color: $about_title_bckg;
            text-align: center;
            color: #fefefe;
            font-size: 2rem;
            letter-spacing: .4rem;
            padding-top: .5rem;
            position: absolute;
            top: 0;
            right: 0;
            width: 97%;
            height: 97%;
            z-index: 0;
        }

        ul {
            border: 2px solid $about_title_bckg;
            background-color: #fefefe;
            color: $about_title_bckg;
            font-weight: 600;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 97%;
            z-index: 1;

            li {
                list-style: none;
                margin-left: 1.25rem;
            }

        }
    }
}

.article_opcje_zakupu {
    @extend .article_o_ksiazce;
    background-color: $rosy_color;
    color: #fefefe;
    margin-top: 0;

    .title_option {
        @extend .title_about_book;
        background-color: inherit;
    }

    section {
        border: 2px solid #fefefe;
        margin: {
            top: 1rem;
            bottom: 1.25rem;
        }
        padding: 1rem;
        position: relative;

        div {
            margin-top: 2.2rem;
        }

        .options_num {
            border: 2px solid #fefefe;
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            font-size: 3rem;
            font-weight: 600;
            background-color: $rosy_color;
            position: absolute;
            top: -4rem;
            left: 1rem;
            z-index: 1;
            
            display: -webkit-box;
            
            display: -ms-flexbox;
            
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        h4 {
            text-align: center;
            padding: 1rem;
            margin-top: 1.5rem;
            font-size: 2rem;

        }

        .important_txt {
            font-weight: 600;
            background-color: $btn_bckg;
            padding: .25rem;
        }

        .up {
            font-size: 1.2rem;
        }

        a:hover {
            background-color: $btn_bckg;
        }
    }
}

.article_o_autorce {
    @extend .article_o_ksiazce;
    background-color: #fefefe;
    font-size: 1.8rem;
    margin-top: 0;

    h3 {
        @extend .title_about_book;
        background-color: inherit;
        color: $about_title_bckg;
    }

    .author_pict {
        display: block;
        width: 100%;
        height: auto;
        margin: {
            left: auto;
            right: auto;
        }
    }

    h4 {
        margin: {
            left: auto;
            right: auto;
            top: 2rem;
            bottom: 2rem;
        }
        font-size: 2.8rem;

        &::after {
            content: '';
            display: block;
            border-top: 2px solid $about_title_bckg;
            margin: {
                top: 1rem;
            }
        }
    }

    div {
        margin-bottom: 1rem;
        padding: .25rem;
    }
}

.article_opcja_ksiazka_autograf {
    @extend .article_o_ksiazce;
    min-height: auto;
    margin-top: 0;

    h3 {
        @extend .title_about_book;
        background-color: $rosy_color;
        color: #fefefe;
        height: auto;
        font-size: 1.8rem;
    }

    h4 {
        text-align: center;
        color: $btn_bckg;
        margin: {
            top: 2rem;
            bottom: 2rem;
        }
    }

    section {
        border: 2px solid $rosy_color;
        padding: .25rem;

        div {
            padding: .25rem;
            
            .important_txt {
                background-color: $btn_bckg;
                color: #fefefe;
            }
        }
    }
}

.article_patroni {
    @extend .article_o_ksiazce;
    min-height: 30rem;
    max-height: 50vh;
    position: relative;
    color: black;
    margin-top: 0;

    h3 {
        @extend .title_about_book;
    }

    ul {
        position: absolute;
        margin-top: 1rem;
        top: 5.5rem;
        width: 80%;
        height: 20rem;
        left: 50%;

        li {
            
            img {
                width: auto;
                max-width: 100%;
                height: auto;
                max-height: 10rem;
            }

            width: 100%;
            list-style-type: none;
            position: absolute;
            top: 0;
            padding: 1rem;
            height: 20rem;
            opacity: 0;
            text-align: center;
            font-size: 1.8rem;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            -webkit-transition: 1s opacity;
            transition: 1s opacity;
            margin: 1rem;
        }

        .active {
            opacity: 1;
        }
    }
}

.article_recenzje {
    @extend .article_o_ksiazce;
    background-color: $dark_olive;
    margin-top: 0;

    h3 {
        @extend .title_about_book;
        background-color: $dark_olive;
    }

    .review {
        background-color: #fefefe;

        .review_about {
            color: $dark_olive;
            height: auto;

            img {
                width: 8rem;
                height: 8rem;
                border-radius: 50%;
                margin: 1.5rem;
                -webkit-box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.65);
                box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.65);
                float: left;
            }

            h4 {
                text-align: center;
                margin: {
                    top: 1rem;
                    left: 2rem;
                    bottom: 1rem;
                }
                font-size: 1.8rem;
            }

            h5 {
                font-size: 1.4rem;
                margin: {
                    top: 1rem;
                    left: 2rem;
                    bottom: 1.5rem;
                }

            }
        }

        .review_txt {
            padding: 1rem;
            font-size: 2rem;
            clear: both;
        }

        &::after {
            content: '';
            display: block;
            border-top: 2px solid $dark_olive;
            margin: {
                top: 1.2rem;
                bottom: 1rem;
            }
        }
    }
}

/* ------------ media queries ---------- */

@media (orientation: landscape) {

    .article_opcje_zakupu {
        section {
            font-size: 2.4rem;
            line-height: 2.4rem;
            .options_num {
                height: 60px;
                width: 60px;
                font-size: 5rem;
                position: absolute;
                top: -50px;
            }
            h4 {
                margin-top: 2%;
                font-size: 2.6rem;
            }
            .important_txt {
                font-size: inherit;
                padding: .2%;
            }
        }
    }

    .article_patroni {
//        min-height: 100vh;
        ul {
            top: 30%;
        }
    }

    .article_recenzje {
        .review {
            .review_about {
                img {
                    width: 10rem;
                    height: 10rem;
                    margin-left: 5%;
                }
            }
        }
    }
}

@media (min-width: 530px) {}

@media (min-width: 768px) {
    main {
        width: 100%;
        background-color: #fefefe;
        z-index: 2;
    }
    
    .column_desktop_wrapper {
        width: 100%;
        height: 210rem;
        background-color: inherit;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        
        .column {
            width: 45%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }
    }
    

    .desktop_only_pict {
        display: block;
        height: auto;
        width: auto;
        padding: {
            top: 4rem;
            bottom: 2.75rem;
            left: 2rem;
        }
        
        img {
            width: 100%;
            height: auto;
        }
    }

    .article_opcje_zakupu {

        section {
            .options_num {
                height: 4rem;
                width: 4rem;
                font-size: 3rem;
                top: -4rem;
                left: 5%;
            }
    }
    }
    
    
    .desktop_only_book_options {
        display: block;
            
        ul {    
            width: 35rem;
            position: absolute;
            right: 46%;
            top: 120rem;
            li {
                img {
                    width: auto;
                    max-width: 100%;
                    height: auto;
                    max-width: 75%;               
                }
                border: 2px solid $rosy_color;
                border-right: none;
                width: 100%;
                min-height: 50rem;
                list-style-type: none;
                position: absolute;
                top: 0;
                opacity: 0;
                text-align: center;
                font-family: $header_font;
                font-size: 1.8rem;
                -webkit-transition: 1s opacity;
                transition: 1s opacity;
                margin: {
                    right: 2%;
                    left: -5rem;
                } 
                p {
                    padding-top: 5%;
                }
            }
            .active {
                opacity: 1;
            }
        }
    }
    .article_o_autorce {
        padding: 2rem;
    }
    
    .article_opcja_ksiazka_autograf {

        section {
            padding: 2rem;
            a:hover {
                background-color: $btn_bckg;
                color: #fefefe;
            }
        }
    }
    .article_patroni {
        position: relative;
        height: auto;
        width: auto;
        .mobile_only {
            display: none;
        }
        .desktop_only_patron {
            display: block;
            width: 100%;
            height: auto;
            margin: {
                top: 2.25rem;
                bottom: 2rem;
            }
        }
    }
    
    .article_recenzje {  

    }
}


@media (min-width: 768px) and (orientation: portrait) {}


@media (min-width: 1024px) {
    
    .column_desktop_wrapper {
        height: 200rem;
    }
   
    .content_wrapper {
        width: 1000px;
        margin: auto;
        padding-top: 2.5rem;
    }
    
    .desktop_only_book_options {    
        ul {    
            width: 45rem;
            right: 47%;
        }
    }
    
}

@media (min-width: 1024px) and (orientation: portrait) {}

@media (min-width: 1280px) {}

@media (min-width: 1600px) {}
