footer {
    min-height: 5vh;
    background-color: #fefefe;
    margin: {
        top: 0;
        bottom: 0;
    } 
    position: relative;
    z-index: 2;
    padding: 2rem;
    font-family: $header_font;
    text-align: center;
    
    address {
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 600;
        margin-bottom: 1.25rem;
    }
    
    div#signature {
        font-size: 1.2rem;
        
        a {
            &:hover {
            text-decoration: underline;
            }
        }    
    }
}

/* media queries */

@media (min-width: 768px) {
    footer {
        address {
            font-size: 1.8rem;
        }
    }
}