header {
    font-family: $header_font;
    font-weight: lighter;
    background-color: $header_bckg;
    color: #fefefe;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%; 
    z-index: 1;
}

.header_top {
    height: 8%;
    width: 100%;
    background-color: #fefefe;
    padding: 1.2% 2.8%;
    position: relative;
    
    .logo {
        height: 100%;
        width: auto;
    }
    
    address {
        color: $font_black_color;
        font: {
            size: 1.4rem;
            weight: 600;
            style: normal;
        } 
        
        display: block;
        position: absolute;
        top: 50%;
        right: 2.8%;
        transform: translateY(-50%);
    }
}

.header_img {
    background: {
        image: url(../img/header_book_cover.jpg);
        repeat: no-repeat;
        size: cover;
        position: 31%;
    }
    height: 92%;
    position: relative;
    padding: 3.2%;
    box-shadow: 0px .8px 8px .8px rgba(1,2,1,0.65);

    h1 {
        font-size: 3rem;
        
        width: 75%;
        margin: {
            left: auto;
            right: auto;
        }
        
        text-align: center;
        
        &::before, &::after {
            content: '';
            display: block;
            border-top: 2px solid rgba(255, 255, 255, 0.44);
            margin: {
                top: 2.8%;
                bottom: 2.8%;
            }
        }
        
        span::after {
            content: '\A';
            white-space: pre;
        }
    }

    h2 {
        font-size: 1.4rem;
       
        width: 70%;
        margin: {
            left: auto;
            right: auto;
        }
        
        padding: {
            top: 2.6%;
            bottom: 2.6%;
        }
        text-align: center;
        
        &:first-child {
            font-size: 1.8rem;
        }
    }
}

/* media queries */

@media (orientation: landscape) {  
    .header_top {
        height: 12%;
        width: 100%;
        background-color: #fefefe;
        padding: 1% 2.8%;
        position: relative;
        address {
            font-size: 1.8rem;
        }
    }
    .header_img {
        background-position: 2%;
        padding: 1.8%;
        h1 {
            width: 30%;
            margin-left: 2.8%;
        }
        h2 {
            width: 30%;
            margin-left: 2.8%;
            padding: {
                top: 1%;
                bottom: 1%;
            }
        }
    }
} 

@media (min-width: 530px) {}

@media (min-width: 768px) {
    .header_img {
        h1 {
            font-size: 5rem;
            width: 35%;
        }
        h2 {
            width: 35%;
            font-size: 2.4rem;
            padding: {
                top: .2%;
                bottom: .2%;
            }
            &:first-child {
                font-size: 2.8rem;
            }
        }
    }
}

@media (min-width: 768px) and (orientation: portrait) {
    .header_top {
        address {
            font-size: 2.6rem;
        }
    }
    .header_img {
        h1 {
            font-size: 5.8rem;
            width: 65%;
        }
        h2 {
            font-size: 2.4rem;
            padding: {
                top: 2%;
                bottom: 2%;
            }
            &:first-child {
                font-size: 2.8rem;
            }
        }
    }
}

@media (min-width: 1024px) {}

@media (min-width: 1024px) and (orientation: portrait) {
    .header_top {
        address {
            font-size: 3.4rem;
        }
    }
    .header_img {
        h1 {
            font-size: 6.8rem;
            width: 65%;
        }
        h2 {
            font-size: 3rem;
            width: 65%;
            padding: {
                top: 2%;
                bottom: 2%;
            }
            &:first-child {
                font-size: 3.6rem;
            }
        }
    }
}

@media (min-width: 1280px) {}

@media (min-width: 1600px) {}
