/* header */

$header_bckg: rgba(67, 79, 52, 1);
$font_black_color: #121111;

$btn_bckg: rgba(207, 30, 37, 1);

$header_font: 'Gruppo', cursive;

@keyframes arrow {
    0% { transform: translateY(-80px)}
    50% { transform: translateY(0px)}
    100% { transform: translateY(80px)}
}

/* article about book */

$about_title_bckg: #5A789A;

/* article about options */

$rosy_color: #B5AA8B;

span.up {
    vertical-align: super;
}

/* reviews */

$dark_olive: #434F34;
